@import url('https://fonts.googleapis.com/css?family=Cookie|Damion|Great+Vibes|Lobster|Pacifico');

/*1. fuentes*/
h1 {
  font-family: 'Lobster', cursive;
}

p {
  font-family: 'Damion', cursive;
  font-style: italic;
}
h2 {
  font-family: 'Cookie', cursive;
}
post1 h2 {
  font-family: 'Great Vibes', cursive;

}

h1 {
  text-align: center;
  font-size: 60px;
}
p {
  text-align: center;
  font-size: 30px;
}

h2 {
  text-align: center;
  font-size: 30px;

}
/*1. */
.titulo {
background-color: #41C6CC ;
 }

 .banner img {
   width: 100%;
   height: 200%;
 }

 #perfil img {
   margin: 10% 10%;
   border-radius: 100%;
 }
